# Applicazioni dimostrative sull'utilizzo del template 'io'

[somma]
title: Somma
template: io

[marker]
title: Marker
template: io
javascript: %(GMAP_JS)s

[chart]
title: Grafico
template: io
javascript: %(GCHART_JS)s

[xpath]
title: Esempio di uso di XPath
template: io

# Applicazioni dimostrative sull'utilizzo del template 'map'

[mappa]
title: Mappa
template: map
javascript: %(GMAP_JS)s

# Sandbox (per permettere agli studenti di pasticciare con il codice)

[sandbox]
title: Sandbox (per sperimentare con il codice)
template: io
javascript: %(GMAP_JS)s %(GCHART_JS)s

# Applicazioni di Mattia

[coord]
title: Operazioni con le coordinate geografiche
template: io

[semplice-dist]
COORD_JS: /edit/coord/load
title: Una semplice mappa con distanze
template: map
javascript: %(GMAP_JS)s %(COORD_JS)s

# Applicazioni per le lezioni di giovedì 

[mergesort]
title: Ordinamento per fusione
template: io
javascript: %(GCHART_JS)s
