<body>
<h1>Aggiungi una applicazione (con template <kbd>io</kbd>)</h1>
<form method="post" action="/addapp">
<p><label for="key">Chiave (nome breve): </label> <input type="text" name="key" id="key" /></p>
<p><label for="title">Titolo: </label> <input type="text" name="title" id="title" size="60"/></p>
<p><label for="javascipt">Javascript addons:</label> 
	<input type="checkbox" name="javascript" id="javascript" value="map"> Google Map, 
	<input type="checkbox" name="javascript" id="javascript" value="chart"> Google Chart.
	</p>
<p><input type="submit" value="Aggiungi" name="submit_field" /></p>
</form>
<p><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></p>
</body>
