<body>
<h1>Learning Week DiCO / DSI 2009</h1>

<h2> Funzioni di base</h2>

<ul>
	<li><a href='/tag'>Aggiungi foto (e metadati)</a>,</li>
	<li><a href='/addapp'>Aggiungi una applicazione utente (con template <kbd>io</kbd>)</a>,</li>
	<li><a href='/shell'>Shell JavaScript</a>,</li>
	<li><a href='/halt'>Arresta il server</a>.</li>
</ul>

<h2>Applicazioni utente</h2>

<ul>
	$apps
</ul>

<p><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></p>
</body>
